.vscode
inputDay1.txt
inputDay2.txt
inputDay3.txt
inputDay4.txt
inputDay5.txt
inputDay6.txt
inputDay7.txt
inputDay8.txt
inputDay9.txt
inputDay10.txt
inputDay11.txt
inputDay12.txt
inputDay13.txt
inputDay14.txt
solve